Source: openerp-client
Section: x11
Priority: optional
Maintainer: P. Christeas <xrg@hellug.gr>
Build-Depends: debhelper (>= 7.0.50~), python, python-setuptools
Build-Depends-Indep: python-glade2, python-gtk2
Standards-Version: 3.9.1
Homepage: http://www.openerp.com/

Package: openerp-client
Architecture: all
Depends:
 ${misc:Depends}, python, python-support (>= 0.90), python-glade2, python-gtk2,
 python-pydot, python-tz,
 python-lxml, python-egenix-mxdatetime,
 python-hippocanvas, python-matplotlib
Recommends:
 python-openssl, openoffice.org-writer, evince | pdf-viewer
Suggests: openerp-server
Description: Enterprise Resource Management (client)
 Open ERP, previously known as TinyERP, is a complete ERP and CRM. The main
 features are accounting (analytic and financial), stock management, sales and
 purchases management, tasks automation, marketing campaigns, help desk, POS,
 etc. Technical features include a distributed server, flexible workflows, an
 object database, a dynamic GUI, customizable reports, and NET-RPC and XML-RPC
 interfaces.
 .
 This package contains the Open ERP client, install openerp-server package for
 the server.
 
 This is the F3 version of the Gtk client, a continuation of the 6.0 series. It
 delivers faster communication for the XML-RPC protocol (more notably against an
 F3 server). It remains compatible with all 6.1, 6.0 and 5.0 series of servers.
