Source: tinyerp-client
Section: x11
Priority: optional
Maintainer: Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 7), dpatch, python-support, python-dev
Build-Depends-Indep: python-gtk2, python-glade2
Standards-Version: 3.8.0
Homepage: http://www.tinyerp.org/

Package: tinyerp-client
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2, python-glade2, python-egenix-mxdatetime
Recommends: openoffice.org-writer, xpdf | pdf-viewer
Suggests: tinyerp-server
Description: Enterprise Resource Management software (client)
 Tiny ERP is a complete ERP and CRM. The main features are accounting (analytic
 and financial), stock management, sales and purchases management, tasks
 automation, marketing campaigns, help desk, POS, etc. Technical features
 include a distributed server, flexible workflows, an object database, a dynamic
 GUI, customizable reports, and XML-RPC interfaces.
 .
 This package contains the Tiny ERP client, install tinyerp-server for the
 server.
